<!DOCTYPE html>
<html>
	<head>
	    <title>schoolsquad</title>
	    <link rel='stylesheet' href='/stylesheets/global.css' />
	    <link rel='stylesheet' href='/stylesheets/dashboard_style.css' />
	    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	</head>
	<body>

		<div class="header">
			<img id="logo_img" src="/images/schoolsquadred2.png">
			<a href ="">
				<img class="icon_img" src="/images/settings3.png">
			</a>
			<a href ="">
				<img class="icon_img" src="/images/calendar.png">
			</a>
		</div>

	    <div class="wrap">
	        <div class="my_squad">
	        	<div class="tab_header">
	        		<img class="h1_img" src="/images/my_squad.png">
				</div>
				<div class="tab_body">
	            	<p><%= sname %></p></br>
	            	<p><%= slocation %></p></br>
	            	<p><%= smeetingtime %></p></br>
	            	<p><%= smonth %></p></br>
	            	<p><%= snotes %></p></br>
				</div>
	        </div>

	        <div class="all_squads">
	        	<div class="tab_header">
	        		<img class="h1_img" src="/images/active_squads.png">
				</div>
				<div class="tab_body">
	            	<h4>Hiking/Nature Squad</h4>
	            	<p>Location: Bartram's Garden</p>
	            	<p>Time: Every Thursday in September, 3:15pm</p>
	            	<p>Squad Leader: Anthony Janacko<p>
	            	<p>Come early if you get out of school before 3:15</p><br>
	            	<h4>Slam Poetry Squad</h4>
	            	<p>Location: Harper's Hollow Park</p>
	            	<p>Time: Three Tuesdays in September, 4pm</p>
	            	<p>Squad Leader: Allegra Larche<p>
	            	<p>We'll be performing the last Tuesday!</p><br>
	            	<h4>Arts and Crafts Squad</h4>
	            	<p>Location: Sister's City Park</p>
	            	<p>Time: Every Friday in September, 3pm</p>
	            	<p>Squad Leader: Sarah Krueger<p>
	            	<p>Bring any supplies you want to</p>
				</div>
	        </div>
	    </div>
	    
	</body>
</html>



<!-- Modal -->
<!--
<div class="modalButton">

  <a href="#modal-one" class="btn btn-big">Modal!</a>
  
</div>
 
<div class="modal" id="modal-one" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2>Modal in CSS?</h2>
      <a href="#close" class="btn-close" aria-hidden="true">×</a> 
    </div>
    <div class="modal-body">
      <p>One modal example here! :D</p>
    </div>
    <div class="modal-footer">
      <a href="#close" class="btn">Nice!</a>  
    </div>
    </div>
  </div>
</div>
 /Modal -->
